{% extends 'finity_techserv_portfolio_website_app/base_1.html' %}
{% load static %}

{% block stylesheets %}
<style>
    .centered {
        position: absolute;
        top: 35%;
        left: 17%;
        /*            transform: translate(-30%, -50%);*/
    }

    .centered h2 {
        font-size: 60px;
    }

    .centered>h2,
    .centered>h4 {
        color: White;
    }

    /*        #fd707b #3e659c*/

    .slick-slide {
        margin: 0px 0px;
    }

    .slick-slide img {
        width: 100%;
    }

    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }

    .slick-list {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .slick-list:focus {
        outline: none;
    }

    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }

    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: block;
    }

    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }

    .slick-track:after {
        clear: both;
    }

    .slick-loading .slick-track {
        visibility: hidden;
    }

    .slick-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
    }

    [dir='rtl'] .slick-slide {
        float: right;
    }

    .slick-slide img {
        display: block;
    }

    .slick-slide.slick-loading img {
        display: none;
    }

    .slick-slide.dragging img {
        pointer-events: none;
    }

    .slick-initialized .slick-slide {
        display: block;
    }

    .slick-loading .slick-slide {
        visibility: hidden;
    }

    .slick-vertical .slick-slide {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }

    .slick-arrow.slick-hidden {
        display: none;
    }
</style>

{% endblock stylesheets %}

{% block headscript %}

{% endblock headscript %}

{% block content %}

<main>
    <!-- visual/banner of the page -->
    <div class="banner banner-home">
        <!-- revolution slider starts -->
        <div id="rev_slider_279_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="restaurant-header" style="margin:0px auto;background-color:#fff;padding:0px;margin-top:0px;margin-bottom:0px;">
            <div id="rev_slider_70_1" class="rev_slider fullscreenabanner" style="display:none;" data-version="5.1.4">
                <ul>
                    <li class="slider-color-schema-dark" data-index="rs-2" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-description="">
                        <!-- main image for revolution slider -->
                        <img src="{% static 'finity_techserv_portfolio_website_app/img/Home_1.png' %}" alt="image description" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-bgfit="cover" data-no-retina>

                        <div class="centered">
                            <h2> WEB. SOFTWARE. DIGITAL.</h2><br>
                            <h4>We could never learn to solve errors and be patient if page was always found</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--/visual/banner of the page -->
    <!-- main content wrapper -->
    <div class="content-wrapper">
        <section class="content-block">
            <div class="container">
                <div class="row multiple-row v-align-row">
                    <div class="col-lg-4 col-md-6">
                        <div class="col-wrap">
                            <div class="block-heading">
                                <h3 class="block-top-heading" style="color: #ff3333">WHAT WE DO</h3>
                                <h2 class="block-main-heading" style="color: #ff3333">EXPERTS</h2>
                                <span class="block-sub-heading" style="color: #ff3333">We build digital solutions.</span>
                                <div class="divider"><img src="{% static 'finity_techserv_portfolio_website_app/img/DIVIDER_RED.png' %}" alt="images description"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="col-wrap">
                            <div class="ico-box bg-blueshade has-radius-medium">
                                <div class="icon">
                                    <img src="{% static 'finity_techserv_portfolio_website_app/img/icons/COMP_WHITE.png' %}" class="img1">

                                    <img src="{% static 'finity_techserv_portfolio_website_app/img/icons/COMP_RED.png' %}" class="img2">
                                </div>
                                <h4 class="content-title"><a href="#">Web Design & Development</a></h4>
                                <div class="des">
                                    <p>"Design is thinking made visual". That's where we step in. We believe in designing a website, that influences the user to take certain actions based on how the user feels about the website.</p>
                                </div>
                                <div class="link-holder">
                                    <a class="link-more" href="{% url 'finity_techserv_portfolio_website_app:services' %}#web_deisgn">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="col-wrap">
                            <div class="ico-box bg-blueshade has-radius-medium">
                                <div class="icon">
                                    <img src="{% static 'finity_techserv_portfolio_website_app/img/icons/PROG_WHITE.png' %}" class="img1">

                                    <img src="{% static 'finity_techserv_portfolio_website_app/img/icons/PROG_RED.png' %}" class="img2">
                                </div>
                                <h4 class="content-title"><a href="#">Customize Business Software</a></h4>
                                <div class="des">
                                    <p>We create complex enterprise software, ensure reliable software integration, & modernise your legacy system.</p>
                                </div>
                                <div class="link-holder">
                                    <a class="link-more" href="{% url 'finity_techserv_portfolio_website_app:services' %}#business_software">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="col-wrap">
                            <div class="ico-box bg-blueshade has-radius-medium">
                                <div class="icon">

                                    <img src="{% static 'finity_techserv_portfolio_website_app/img/icons/ECOM_WHITE.png' %}" class="img1">

                                    <img src="{% static 'finity_techserv_portfolio_website_app/img/icons/ECOM_RED.png' %}" class="img2">
                                </div>
                                <h4 class="content-title"><a href="#">E- Commerce Development</a></h4>
                                <div class="des">
                                    <p>With short attention spans and towering high expectations of online shoppers, an eCommerce website has less than a few seconds to make a good impression upon the users, and for that, we’ve got you covered.</p>
                                </div>
                                <div class="link-holder">
                                    <a class="link-more" href="{% url 'finity_techserv_portfolio_website_app:services' %}#e_commerce">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="col-wrap">
                            <div class="ico-box bg-blueshade has-radius-medium">
                                <div class="icon">
                                    <img src="{% static 'finity_techserv_portfolio_website_app/img/icons/APP_WHITE.png' %}" class="img1">

                                    <img src="{% static 'finity_techserv_portfolio_website_app/img/icons/APP_RED.png' %}" class="img2">
                                </div>
                                <h4 class="content-title"><a href="#">Mobile App Development</a></h4>
                                <div class="des">
                                    <p>We build high performing, interactive, user-friendly and scalable mobile apps that are loved by the users and drive business growth.</p>
                                </div>
                                <div class="link-holder">
                                    <a class="link-more" href="{% url 'finity_techserv_portfolio_website_app:services' %}#mobile_app">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="col-wrap">
                            <div class="ico-box bg-blueshade has-radius-medium">
                                <div class="icon">
                                    <img src="{% static 'finity_techserv_portfolio_website_app/img/icons/DATA_WHITE.png' %}" class="img1">

                                    <img src="{% static 'finity_techserv_portfolio_website_app/img/icons/DATA_RED.png' %}" class="img2">
                                </div>
                                <h4 class="content-title"><a href="#">Data Science & Data Analysis</a></h4>
                                <div class="des">
                                    <p>Finity offers a comprehensive kit of data analytics services to convert our customers’ historical and real-time, traditional and big data into actionable insights.</p>
                                </div>
                                <div class="link-holder">
                                    <a class="link-more" href="{% url 'finity_techserv_portfolio_website_app:services' %}#data_analysis">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content-block quotation-block parallax" data-stellar-background-ratio="0.55">
            <div class="container">
                <div class="inner-wrapper">
                    <h3 class="block-top-heading text-white">BEST EVER DESIGN</h3>
                    <h2 class="text-white">Time to enhance your web presence!</h2>
                    <div class="btn-container">
                        <a href="#" class="btn btn-primary" data-target="#exampleModal" data-toggle="modal">GET QUOTATION</a>
                    </div>
                </div>
            </div>
        </section>


        <!-- Button trigger modal -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Get Instant Quotation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="#" method="post">
                            <div class="form-group">
                                <label for="fullname">Your Name</label>
                                <input type="text" class="form-control" id="" placeholder="Your Name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="" placeholder="Enter Email" required>
                            </div>
                            <div class="form-group">
                                <label for="number">Phone</label>
                                <input type="text" class="form-control" id="" placeholder=" Phone Number" required>
                            </div>

                            <div class="form-group">
                                <label for="resume">Upload your resume</label>
                                <input type="text" class="form-control" id="" placeholder="Business Sector" required>
                            </div>

                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="" rows="3" placeholder="Message"></textarea>
                            </div>

                            <button type="submit" class="btn btn-block" style="color: #fff;background: #ff3333;border: 0">Get Quotation</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>




        <!------------------------------------ projects images section  ------------------------------------------------------------------->
        <section class="content-block portfolio-block" id="container">
            <div class="bottom-space text-center text-uppercase">
                <h2>Our Work</h2>
            </div>
            <!--
                        <ul class="filter-nav text-center button-group filter-button-group">
                            <li>
                                <button data-filter="*">ALL</button>
                            </li>
                            <li>
                                <button data-filter=".web">Web Design & Development</button>
                            </li>
                            <li>
                                <button data-filter=".software">Business Customize Softwares</button>
                            </li>
                            <li>
                                <button data-filter=".mobile_app">Mobile App Development</button>
                            </li>
                            <li>
                                <button data-filter=".analysis">Data Analysis</button>
                            </li>
                        </ul>
-->

            <div class="container">
                <section class="customer-logos slider">
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 web">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <div class=" team-wrap">
                                    <img src="{% static 'finity_techserv_portfolio_website_app/img/project/airoliweb.JPG' %}" alt="images description" style="height: 230px">
                                </div>
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">Airoli Hub Connect</h3>
                                        <a href="https://www.airolihubconnect.com/" target="_blank">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 web">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/sspnweb.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">SSPN Finance</h3>
                                        <a href="https://www.sspnfin.com/" target="_blank">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 web">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/aaronweb.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">Aaron Tours</h3>
                                        <a href="http://aarontours.in/" target="_blank">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 web">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/myvisaletterweb.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">MY visa Letter</h3>
                                        <a href="https://www.myvisaletter.com/index/" target="_blank">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 web">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/marketingtoolweb.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">Marketing Tool</h3>
                                        <a href="https://www.gokruzeform.com/" target="_blank">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 web">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/loan3mweb.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">3M Loans Solutions</h3>
                                        <a href="http://loans3m.com/" target="_blank">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 web">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/volshebnyweb.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">Volshebny Holidays</h3>
                                        <a href="http://www.volshebnyholidays.com/" target="_blank">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 web">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/joymakerzweb.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">Joy Makerz</h3>
                                        <a href="https://www.joymakerz.com/" target="_blank">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 web">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/askweb.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">Ask Konsaltancy</h3>
                                        <a href="http://askkonsultancy.com/" target="_blank">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 software">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/volshebnypnlosftware.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">Volshebny Software</h3>
                                        <a href="#">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 software">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/kngarmentsoftware.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">KN Garments</h3>
                                        <a href="#">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 mobile_app">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/gokruzeapp.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">Gokruze App</h3>
                                        <a href="https://play.google.com/store/apps/details?id=com.gokruze.app" target="_blank">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 mobile_app">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/pesapp.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">Pes Tutor</h3>
                                        <a href="https://play.google.com/store/apps/details?id=com.pestutor.shakira.pestutor" target="_blank">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 mobile_app">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/crackcetapp.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">Crack CET</h3>
                                        <a href="https://play.google.com/store/apps/details?id=com.perfectcare.bankexams.app" target="_blank">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 mobile_app">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/instastudyapp.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">Insta Study</h3>
                                        <a href="https://play.google.com/store/apps/details?id=com.perfectcare.instastudy.app" target="_blank">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 mobile_app">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/androidapp.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">Android Tutorial</h3>
                                        <a href="https://play.google.com/store/apps/details?id=com.perfectcareapp.androidtutorials" target="_blank">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 mobile_app">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/admissionapp.png' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">Admission</h3>
                                        <a href="#">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 analysis">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/traxbackend.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">Trax</h3>
                                        <a href="#">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 analysis">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/sspnbackend.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">SSPN Finanace</h3>
                                        <a href="">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="gallery-item col-lg-12 col-md-12 analysis">
                            <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/project/loan3mbackend.JPG' %}" alt="images description" style="height: 230px">
                                <figcaption>
                                    <div class="link-box">
                                        <h3 style="color: white;font-weight: bold;font-style: italic">Loans 3M</h3>
                                        <a href="">
                                            <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </section>
            </div>
        </section>


        <! /------------------------------------ projects images section ------------------------------------------------------------------->


            <section id="work-section" class="content-block work-block">
                <div class="bg-stretch">
                    <img src="{% static 'finity_techserv_portfolio_website_app/img/Home_3.png' %}" alt="">
                </div>
                <div class="container">
                    <div class="block-heading bottom-space text-center">
                        <h3 class="block-top-heading" style="color: #ffffff">WORK PLACE</h3>
                        <h2 class="block-main-heading" style="color: #ffffff">THE CULTURE</h2>
                        <span class="block-sub-heading" style="color: #ffffff">While a solid foundation gives us the ambition to reach higher, our thought process gives our ambition a clear vision.</span>
                        <div class="divider" style="padding-top: 40px"><img src="{% static 'finity_techserv_portfolio_website_app/img/divider-white.png' %}" alt="images description"></div>
                    </div>
                    <div class="description text-center container-md">
                        <p style="color: #ffffff">We at Finity are always looking to outdo ourselves every single day and create new benchmarks of success through every single endeavor, this gives us a drive to achieve more for our clients.
                        </p>
                    </div>
                </div>
            </section>


            <section class="content-block bg-gray-light">
                <div class="container">
                    <div class="block-heading bottom-space text-center">
                        <h3 class="block-top-heading" style="color: #000000">HEAR FROM</h3>
                        <h2 class="block-main-heading" style="color: #ff3333">TESTIMONIALS</h2>
                        <span class="block-sub-heading" style="color: #000000">We always listen to our clients.</span>
                        <div class="divider"><img src="{% static 'finity_techserv_portfolio_website_app/img/divider.png' %}" alt="images description"></div>
                    </div>
                    <div class="testimonial-container text-center">
                        <div class="owl-carousel testimonial-slide" id="waituk-owl-slide-3">
                            <div class="slide-item">
                                <div class="team-wrap">
                                    <div class="img-block">
                                        <img src="{% static 'finity_techserv_portfolio_website_app/img/people-01.jpg' %}" alt="images description">
                                    </div>
                                    <div class="text-wrap">
                                        <h2>Ashish Joshi</h2>
                                        <span class="designation bottom-m-space">Founder<br>Loans 3M</span>
                                        <p style="color: #000000">We've been working together with Finity TechServ for more than 4 years now and it is has been a very positive experience for me and my company. Finity has been a trusted partner and always willing to help resolve the most complex of issues. The quality of the coding and in general work done has been very high. I would recommend them.</p>
                                    </div>
                                </div>
                            </div>
                            <!--
                                        <div class="slide-item">
                                            <div class="team-wrap">
                                                <div class="img-block">
                                                    <img src="{% static 'finity_techserv_portfolio_website_app/img/people-02.jpg' %}" alt="images description">
                                                </div>
                                                <div class="text-wrap">
                                                    <h2>Dwayne DSouza</h2>
                                                    <span class="designation bottom-m-space">Fouder, CMO<br> Gokruze</span>
                                                    <p style="color: #000000">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                                </div>
                                            </div>
                                        </div>
-->
                            <div class="slide-item">
                                <div class="team-wrap">
                                    <div class="img-block">
                                        <img src="{% static 'finity_techserv_portfolio_website_app/img/people-03.jpg' %}" alt="images description">
                                    </div>
                                    <div class="text-wrap">
                                        <h2>Himanshu Thaker</h2>
                                        <span class="designation bottom-m-space">Business Head<br>Vijay Niwas Lodge</span>
                                        <p style="color: #000000">“Finity keeps doing what comes naturally to them which is building teams with their clients, partners and creating exceptional software development and support. Job well done. I have used them since 2012 for offshore development. Congratulations to all your teams.” </p>
                                    </div>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class="team-wrap">
                                    <div class="img-block">
                                        <img src="{% static 'finity_techserv_portfolio_website_app/img/people-02.jpg' %}" alt="images description">
                                    </div>
                                    <div class="text-wrap">
                                        <h2>Nishita P</h2>
                                        <span class="designation bottom-m-space">Founder<br>Joy Makers </span>
                                        <p style="color: #000000">I have worked with Finity Solutions for a little more than 1 year and am very pleased with their performance. The organization is very professional, talented and helpful in their work on our web portal. The people responsible for our account go to great lengths to not only solve problems, but also suggest improvements beyond the scope of the task. I have no hesitation in recommending FInity Solutions to others. </p>
                                    </div>
                                </div>
                            </div>
                            <!--
                                        <div class="slide-item">
                                            <div class="team-wrap">
                                                <div class="img-block">
                                                    <img src="{% static 'finity_techserv_portfolio_website_app/img/people-01.jpg' %}" alt="images description">
                                                </div>
                                                <div class="text-wrap">
                                                    <h2>Manish Bhavsar</h2>
                                                    <span class="designation bottom-m-space">CEO<br>Bhavsar Tours & Travels</span>
                                                    <p style="color: #000000">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                                </div>
                                            </div>
                                        </div>
-->
                        </div>
                    </div>
                </div>
            </section>

            <section class="content-block count-block text-white text-center p-0 parallax" data-stellar-background-ratio="0.55">
                <div class="container-fluid">
                    <div class="row no-gutters">
                        <div class="col-sm-6 col-lg-3">
                            <div class="col-wrap">
                                <div class="icon">
                                    <span class="custom-icon-projects"></span>
                                </div>
                                <h3 class="number">18</h3>
                                <div class="text text-uppercase">ON GOING PROJECTS</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="col-wrap">
                                <div class="icon">
                                    <span class="custom-icon-smile"></span>
                                </div>
                                <h3 class="number">45</h3>
                                <div class="text text-uppercase">SATISFIED CLIENTS</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="col-wrap">
                                <div class="icon">
                                    <span class="custom-icon-award"></span>
                                </div>
                                <h3 class="number">9</h3>
                                <div class="text text-uppercase">Reasearch Paper & Awards</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="col-wrap">
                                <div class="icon">
                                    <span class="custom-icon-celebrate"></span>
                                </div>
                                <h3 class="number">54</h3>
                                <div class="text text-uppercase">COMPLETE PROJECTS</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <aside class="content-block">
                <div class="container">
                    <div class="logo-container">
                        <div class="owl-carousel logo-slide" id="waituk-owl-slide-4">
                            <div class="slide-item">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/GoKruze_Logo.png' %}" alt="images description">
                            </div>
                            <div class="slide-item">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/3m.png' %}" alt="images description">
                            </div>
                            <div class="slide-item">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/aaron.png' %}" alt="images description">
                            </div>
                            <div class="slide-item">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/joymaker.png' %}" alt="images description">
                            </div>
                            <div class="slide-item">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/finity_rnd_labs_png.png' %}" alt="images description">
                            </div>
                            <div class="slide-item">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/logo_sspn.png' %}" alt="images description">
                            </div>
                            <div class="slide-item">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/volshebnyholidays.png' %}" alt="images description">
                            </div>
                            <div class="slide-item">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/asklogo.png' %}" alt="images description">
                            </div>
                            <div class="slide-item">
                                <img src="{% static 'finity_techserv_portfolio_website_app/img/airolihubconnectwhitelogo.png' %}" alt="images description">
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
    </div>
    <!--/main content wrapper -->
</main>
{% endblock %}


{% block extrascript %}
<script>
    $(document).ready(function() {
        $('.customer-logos').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
            arrows: false,
            dots: false,
            pauseOnHover: true,
            responsive: [{
                breakpoint: 800,
                settings: {
                    slidesToShow: 2
                }
            }, {
                breakpoint: 520,
                settings: {
                    slidesToShow: 1
                }
            }]
        });
    });
</script>

<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

{% endblock extrascript %}