{% extends 'finity_techserv_portfolio_website_app/base_2.html' %}
{% load static %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block headscript %}
{% endblock headscript %}

{% block content %}
<main>
    <!-- main content wrapper -->
    <div class="content-wrapper">
        <div class="row  no-gutters">
            <div class="col-lg-6 hidden-md-down">
                <div class="bg-stretch img-wrap">
                    <img src="{% static 'finity_techserv_portfolio_website_app/img/Login_2.png' %}" alt="images">
                </div>
            </div>
            <div class="col-lg-6 signup-block">
                <div class="signup-wrap text-center">
                    <div class="inner-wrap"><br><br>
                        <div class="circular-icon bottom-space"><i class="icon-sign-in"></i></div>
                        <form action="#" method="post" id="contact_form" class="waituk_contact-form signup-form">
                        {% csrf_token %}
                            <h2 class="bottom-space">User Login</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" placeholder="EMAIL ADDRESS" id="email" name="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="password" placeholder="PASSWORD" id="password" name="password" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="waituk_select-box">
                                        <div class="waituk_select-box-default square-box">
                                            <input type="checkbox" name="checkbox" id="checkbox11">
                                            <label for="checkbox11" class="m-0" style="color: #000">REMEMBER ME</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p><a href="#" style="color: #ff3333">Forgot Password ?</a></p>
                                </div>
                            </div>
                            <div class="btn-container mb-3  mb-xl-3 mt-xl-5 mt-lg-2">
                                <button id="btn_sent" class="btn has-radius-small">Login</button>
                            </div>
                            <p style="color: #000">Don't have an account yet?
                                <a href="{% url 'finity_techserv_portfolio_website_app:signup' %}" style="color: #ff3333"> Register New Account. </a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/main content wrapper -->
</main>
{% endblock %}


{% block extrascript %}

{% endblock extrascript %}